/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
label {
	font-family: 'Source Code Pro', monospace;
}

.container-implemented {
	@apply prose prose-slate container mx-auto;
}

.container-implemented > h1 {
	@apply text-center mt-5;
}
